ibm-ib-mww-om-weborder/om-orderstatus-synchronous-service-mww/source/doc-orderstatus-hyb-arts-library/arts/Library/AttributeGroupsV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Ron Matyjanka (FGL SPORTS LTD) -->
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:attributeGroup name="VersionAttributeGroup">
		<xs:attribute name="MajorVersion" type="xs:integer" use="required"/>
		<xs:attribute name="MinorVersion" type="xs:integer" use="required"/>
		<xs:attribute name="FixVersion" type="xs:integer" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ElementControlAttributeGroup">
		<xs:attribute name="DqIndex" type="xs:integer"/>
		<xs:attribute name="DataClassification" default="Internal">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Public"/>
					<xs:enumeration value="Internal"/>
					<xs:enumeration value="Confidential"/>
					<xs:enumeration value="Highly Confidential"/>
					<xs:enumeration value="Sensitive"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SourceSystemIndex" type="xs:integer"/>
		<xs:attribute name="Action">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="INSERT"/>
					<xs:enumeration value="UPDATE"/>
					<xs:enumeration value="DELETE"/>
					<xs:enumeration value="NONE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="TypeControlAttributeGroup">
		<xs:attribute name="Action">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="INSERT"/>
					<xs:enumeration value="UPDATE"/>
					<xs:enumeration value="DELETE"/>
					<xs:enumeration value="NONE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DqIndex" type="xs:integer"/>
		<xs:attribute name="DataClassification" type="xs:string"/>
	</xs:attributeGroup>
	<xs:simpleType name="ElementActionType">
		<xs:restriction>
			<xs:simpleType>
				<xs:list itemType="xs:token"/>
			</xs:simpleType>
			<xs:enumeration value="I"/>
			<xs:enumeration value="U"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DataSource">
		<xs:sequence>
			<xs:element name="SbuNumber">
				<xs:annotation>
					<xs:documentation>Number identifier for a SBU value</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SbuCode">
				<xs:annotation>
					<xs:documentation>Code identifying an SBU</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SbuName">
				<xs:annotation>
					<xs:documentation>Name identifying an SBU</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataSourceCode">
				<xs:annotation>
					<xs:documentation>Code identifier for a Data Source value</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataSourceName">
				<xs:annotation>
					<xs:documentation>Name idenifying a data source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
