ibm-ib-mww-om-weborder/om-orderstatus-synchronous-service-mww/source/doc-orderstatus-hyb-arts-library/arts/Library/DQResultsV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Ron Matyjanka (FGL SPORTS LTD) -->
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xs:schema xmlns:eai="http://www.fgl.com/exchange/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fgl.com/exchange/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AttributeGroupsV1_00_00.xsd"/>
	<xs:complexType name="DqResults">
		<xs:sequence>
			<xs:element name="Count" type="xs:integer"/>
			<xs:element name="DqResult" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Index" type="xs:integer"/>
						<xs:element name="DqMessages">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Count"/>
									<xs:element name="DqMessage" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Index"/>
												<xs:element name="SevCode" type="xs:string"/>
												<xs:element name="RuleNo"/>
												<xs:element name="QaResultCode" type="xs:string"/>
												<xs:element name="QaResultText" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
