ibm-ib-mww-om-weborder/om-orderstatus-synchronous-service-mww/source/doc-orderstatus-hyb-arts-library/arts/Library/MessageRoutingTypeV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Ron Matyjanka (FGL SPORTS LTD) -->
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xs:schema xmlns:eai="http://www.fgl.com/exchange/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fgl.com/exchange/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AttributeGroupsV1_00_00.xsd"/>
	<xs:include schemaLocation="RequestReplyMessageControlTypeV1_00_00.xsd"/>
	<xs:include schemaLocation="../../lib/MessageTestingV1_00_00.xsd"/>
	<xs:complexType name="MessageRoutingType">
		<xs:sequence>
			<xs:element name="Guid" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Unique ID for related messagess on the integration platform</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageId" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique ID on Message Flow</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageType">
				<xs:annotation>
					<xs:documentation>Indicates pub/sub, point to point or request reply. Can be only one for a given message</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PubSub"/>
						<xs:enumeration value="PointToPoint"/>
						<xs:enumeration value="RequestReply"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RequestResponseMessage" type="eai:RequestReplyMessageControlType" minOccurs="0"/>
			<xs:element name="SubjectArea" type="xs:string">
				<xs:annotation>
					<xs:documentation>Subject area: Business Unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbuNumber" type="xs:string"/>
			<xs:element name="SbuCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Business Unit: FGL, MWW, Franchise</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbuName" type="xs:string"/>
			<xs:element name="DataSourceCode" type="xs:string"/>
			<xs:element name="DataSourceCodeName" type="xs:string"/>
			<xs:element name="Testing" type="eai:MessageTestingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AuditMessages" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Count" type="xs:integer"/>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Trace">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Index" type="xs:integer"/>
										<xs:element name="Timestamp" type="xs:dateTime"/>
										<xs:element name="Environment" type="xs:string"/>
										<xs:element name="Message" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SystemTransition">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Index" type="xs:integer"/>
										<xs:element name="Timestamp" type="xs:dateTime"/>
										<xs:element name="Protocol" type="xs:string"/>
										<xs:element name="ProtocolDetails" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
