ibm-ib-mww-om-weborder/om-orderstatus-synchronous-service-mww/source/doc-orderstatus-hyb-arts-library/arts/Library/RequestReplyMessageControlTypeV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Ron Matyjanka (FGL SPORTS LTD) -->
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="AttributeGroupsV1_00_00.xsd"/>
	<xs:complexType name="RequestReplyMessageControlType">
		<xs:choice>
			<xs:element name="RequestType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestId" type="xs:string"/>
						<xs:element name="Action" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResponseType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestId" type="xs:string"/>
						<xs:element name="ResultCode" type="xs:integer"/>
						<xs:element name="BusinessErrors">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Count" type="xs:integer"/>
									<xs:element name="BusinessError" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Index" type="xs:integer"/>
												<xs:element name="ErrorText" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
