ibm-ib-mww-om-weborder/om-orderstatus-synchronous-service-mww/source/doc-orderstatus-hyb-arts-library/arts/Library/SourceSystemsTypeV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Ron Matyjanka (FGL SPORTS LTD) -->
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xs:schema xmlns:eai="http://www.fgl.com/exchange/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fgl.com/exchange/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="SourceSystemsType">
		<xs:sequence>
			<xs:element name="Count" type="xs:long"/>
			<xs:element name="SourceSystem" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Index" type="xs:long"/>
						<xs:element name="SbuNumber" type="xs:string"/>
						<xs:element name="SbuCode" type="xs:string"/>
						<xs:element name="SbuName" type="xs:string"/>
						<xs:element name="MessageSourceCode" type="xs:string"/>
						<xs:element name="MessageSourceCodeName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
