ibm-ib-mww-om-weborder/om-orderstatus-synchronous-service-mww/source/doc-orderstatus-fastfind-library/businessitems/businessitems.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://MarkS2/Businessitems" xmlns:tns="http://MarkS2/Businessitems" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="StoreWithQty.xsd"/>
	<xsd:complexType name="Address">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="AddressLine1" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="AddressLine2" type="xsd:string"/>
			<xsd:element minOccurs="0" name="AddressLine3" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="City" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Province" type="xsd:string"/>
			<xsd:element minOccurs="0" name="ProvinceAbbrev" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="PostalCode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Lat" type="xsd:double"/>
			<xsd:element minOccurs="0" name="Long" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Customer">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="CustomerId" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="LastName" type="xsd:string"/>
			<xsd:element minOccurs="0" name="FirstName" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Address" type="tns:Address"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="email" type="tns:Email"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="HomePhone" type="tns:Phone"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="CellPhone" type="tns:Phone"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="WorkPhone" type="tns:Phone"/>
			<xsd:element minOccurs="0" name="Language" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Email">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="emailaddress" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Phone">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Phone" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Fulfillment">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="FulfillmentId" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Order" type="tns:Order"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="SendingStore" type="tns:Store"/>
			<xsd:element maxOccurs="100" minOccurs="0" name="Sourcings" type="tns:Sourcing"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="SendingStorePOSTxn" type="tns:POSTransaction"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="SendingStoreShippingTxn" type="tns:ShippingTransaction"/>
			<xsd:element minOccurs="0" name="Comment" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="CreateName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="UpdateName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Total" type="xsd:float"/>
			<xsd:element minOccurs="0" name="SubTotal" type="xsd:float">
			</xsd:element>
			<xsd:element minOccurs="0" name="GSTTotal" type="xsd:float">
			</xsd:element>
			<xsd:element minOccurs="0" name="PSTTotal" type="xsd:float">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Order">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="OrderNumber" type="xsd:string"/>
			<xsd:element minOccurs="1" name="OriginatingStore" type="tns:Store">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="OrderCreateDate" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="OrderExpirationDate" type="xsd:dateTime">
			</xsd:element>
			<xsd:element minOccurs="0" name="ParentOrderNumber" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Customer" type="tns:Customer"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="OriginatingStoreTxn" type="tns:POSTransaction"/>
			<xsd:element maxOccurs="100" minOccurs="0" name="OrderLines" type="tns:OrderLine"/>
			<xsd:element minOccurs="0" name="Recipient" type="tns:Customer">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="SpecialInstructions" type="xsd:string"/>
			<xsd:element minOccurs="0" name="ShipToStore" type="tns:Store">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="Status" type="xsd:string"/>

			<xsd:element maxOccurs="100" minOccurs="0" name="Fulfillments" type="tns:Fulfillment"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="UnFulfilledSourcings" type="tns:Fulfillment"/>
			<xsd:element minOccurs="0" name="Comment" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="CreateName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="UpdateName" type="xsd:string">
			</xsd:element>


			<xsd:element minOccurs="0" name="SourceReference" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="OrderReference" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="VersionID" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="Total" type="xsd:double"/>
			<xsd:element minOccurs="0" name="SubTotal" type="xsd:double">
			</xsd:element>
			<xsd:element minOccurs="0" name="PSTTotal" type="xsd:double">
			</xsd:element>
			<xsd:element minOccurs="0" name="GSTTotal" type="xsd:double">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POSTransaction">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="TxnId" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="TxnType" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="LiabilityType" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="LiabiltyId" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="LiabilityAmount" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Error" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderLine">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="OrderLineNumber" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Product" type="tns:Product"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Quantity" type="xsd:int"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="UnitPrice" type="xsd:float"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="GSTAmount" type="xsd:float"/>
			<xsd:element minOccurs="0" name="GSTExempt" type="xsd:boolean">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="PSTHSTAmount" type="xsd:float"/>
			<xsd:element minOccurs="0" name="PSTHSTExempt" type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="Comment" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Description" type="tns:OrderLineDescription">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Colour" type="tns:OrderLineColour">
			</xsd:element>
			<xsd:element minOccurs="0" name="Total" type="xsd:float"/>
			<xsd:element minOccurs="0" name="GSTUnitAmount" type="xsd:float">
			</xsd:element>
			<xsd:element minOccurs="0" name="PSTHSTUnitAmount" type="xsd:float">
			</xsd:element>
			<xsd:element minOccurs="0" name="IsMerchandisable" type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Product">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Style" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Color" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Size" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="CategoryCode" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="SKU" type="xsd:string"/>
			<xsd:element minOccurs="0" name="SKUId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Sourcing">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="SourcingId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="SourcingExpirationDate" type="xsd:dateTime">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Order" type="tns:Order"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderLineSourcings" type="tns:OrderLineSourcing"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="StoreAssignment" type="tns:StoreCandidates"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>

			<xsd:element minOccurs="0" name="Comment" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="CreateName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="UpdateName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductSourcingOverride" type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="ReOrderPOSShippingFlag" type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StoreCandidates">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="AssignToStore" type="tns:Store"/>
			<xsd:element maxOccurs="20" minOccurs="0" name="PotentialStores" type="tns:Store"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="RejectedSourcing" type="tns:Sourcing"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="RejectedStores" type="tns:Store">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="PotentialStoresWithQty" type="tns:StoreWithQty">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Store">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="StoreId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="StoreNumber" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Address" type="tns:Address"/>
			<xsd:element minOccurs="0" name="StorePhone" type="tns:Phone">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShippingTransaction">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="ShippingNumber" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="CarrierId" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ShippingDate" type="xsd:string"/>

			<xsd:element minOccurs="0" name="ShippingCost" type="xsd:double">
			</xsd:element>
			<xsd:element minOccurs="0" name="ShippedBy" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Resourcings">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="NewSourcings" type="tns:Sourcing">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderLineSourcing">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="OrderLineSourcingId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="OrderLine" type="tns:OrderLine">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="SourcedOrderLine" type="tns:OrderLine"/>
			<xsd:element minOccurs="0" name="Comment" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SplitLevel" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="SplitCount" type="xsd:int">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderLineDescription">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="DescriptionLocale" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="DiscriptionValue" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SourcingRulesOutput">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="CheckingInventoryTimeout" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="StoreQtyThreshold" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="AcknowledgeTimeout" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="MultiLineRejectCount" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="PartialRejectCount" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="QtySplitThreshold" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="EnablePilot" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="PilotStores" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SplitLevelDuration" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="StoreClosingThreshold" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="StoreAdditionalHrsThreshold" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="StoreClosingHrSunday" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="StoreOpenHrSunday" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="StoreClosingHrWeekday" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="StoreOpenHrWeekday" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BufferLevel" type="xsd:int">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SourcingRulesInput">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Key" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FaultMessage">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Name" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Message" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SourcingStore">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Store" type="tns:Store">
			</xsd:element>
			<xsd:element minOccurs="0" name="Status" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderLineColour">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ColourLocale" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="ColourValue" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SplitStoreContainer">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="SplitStores" type="tns:Store">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>