ibm-ib-git/core/source/core-configuration-loader-file/CoreConfigurationLoader.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
            <xsd:complexType name="propertyType">
    <xsd:sequence dfdl:separator="=">
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:element dfdl:terminator="%CR;%LF;" ibmSchExtn:docRoot="true" name="Properties">
    <xsd:complexType>
      <xsd:sequence dfdl:separator="%CR;%LF;">
                        <xsd:annotation>
          <xsd:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:sequence/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:element dfdl:lengthKind="implicit" dfdl:terminator="" maxOccurs="unbounded" name="Property" type="propertyType"/>
                                  </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="US-ASCII" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>




</xsd:schema>