ibm-ib-mww-om-weborder/om-ordercreate-ecomm-synchronous-service-mww/source/doc-order-creation-hyb-arts-library/lib/MessageTestingV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Ron Matyjanka (FGL SPORTS LTD) -->
<!--W3C XML Schema generated by XMLSpy v2014 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="MessageTestingType">
		<xs:sequence>
			<xs:element name="ApplicationName"/>
			<xs:element name="LibraryName"/>
			<xs:element name="MessageFlowName"/>
			<xs:element name="QueueName"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
