ibm-ib-mww-om-weborder/om-ordercreate-ecomm-synchronous-service-mww/source/doc-order-creation-hyb-arts-library/arts/Library/ARTS_StockItemSubsetTypeV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Ron Matyjanka (FGL SPORTS LTD) -->
<!--W3C XML Schema generated by XMLSpy v2014 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:arts="http://www.fgl.com/ARTS" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fgl.com/ARTS" elementFormDefault="qualified">
	<xs:include schemaLocation="ARTS_SizeTypeV1_00_00.xsd"/>
	<xs:include schemaLocation="AttributeGroupsV1_00_00.xsd"/>
	<xs:complexType name="ArtsStockItemSubset">
		<xs:annotation>
			<xs:documentation>The lowest level of merchandise for which inventory and sales records are retained within the retail store. It is analogous to the SKU ( Stock Keeping Unit).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Index" type="xs:long"/>
			<xs:element name="DataSource" type="arts:DataSource"/>
			<xs:element name="ItemNumber">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ItemName">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DimensionCode">
				<xs:complexType>
					<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="DimensionCodeName" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ColourCode">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ColourName">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AliasColourCode">
				<xs:complexType>
					<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AliasColourName">
				<xs:complexType>
					<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="SourcePrdLvlChild">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="StyleNumber">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="HierarchyLevelInformation">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SizeFamily" type="arts:ArtsSizeType"/>
		</xs:sequence>
		<xs:attributeGroup ref="arts:TypeControlAttributeGroup"/>
	</xs:complexType>
</xs:schema>
