ibm-ib-mww-om-weborder/om-ordercreate-ecomm-synchronous-service-mww/source/doc-order-creation-hyb-arts-library/arts/Library/ARTS_CustomerOrderStatusTypeV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Ron Matyjanka (FGL SPORTS LTD) -->
<!--
 * ER/Studio Data Architect XE3 %s XML Schema Generation
 * Company:		FGL Sports
 * Project:		FGL Corporate Data Warehouse
 * Author:		Warren Whale
 * Version:		1.0
 * Date Created:	2015-01-23
-->
<xs:schema xmlns:arts="http://www.fgl.com/ARTS" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fgl.com/ARTS" elementFormDefault="qualified">
	<xs:include schemaLocation="AttributeGroupsV1_00_00.xsd"/>
	<xs:complexType name="CustomerOrderStatus">
		<xs:annotation>
			<xs:documentation>A document that describes a request by a Customer to purchase merchandise and/or service items from a retailer on agreed terms and conditions (price, delivery, payments schedule, cancellation policy, etc.)
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Index"/>
			<xs:element name="DataSource" type="arts:DataSource"/>
			<xs:element name="CustomerOrderNumber" nillable="false">
				<xs:annotation>
					<xs:documentation>Order Number for the Customer Purchase Order</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerOrderType">
				<xs:annotation>
					<xs:documentation>A unique retailer assigned  code denoting a type of CustomerOrder
Examples include:
LAYAWAY
ORDER FOR DELIVERY
ORDER FOR PICKUP
Eg: Layaway, Order for Delivery, Order for Pickup,  etc...</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomerOrderTypeCode" nillable="false">
							<xs:annotation>
								<xs:documentation>A unique retailer assigned  code denoting a type of CustomerOrder
Eg: Layaway, Order for Delivery, Order for Pickup,  etc...</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="CustomerOrderTypeName" nillable="false">
							<xs:annotation>
								<xs:documentation>The name of the CustomerOrderType</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerOrderCreateDate" nillable="true">
				<xs:annotation>
					<xs:documentation>The date/time when an order was created .</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:dateTime">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerOrderState">
				<xs:annotation>
					<xs:documentation>A retailer defined state for an Order.  Possible values include:
Pending, PartiallyDelivered, Processing, , Complete, Cancelled etc.
</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomerOrderStateCode">
							<xs:annotation>
								<xs:documentation>A unique retailer assigned code denoting a potential state for a CustomerOrder.

Eg:- COPMLT = Complete
- PROCES = Processing
- CANCEL = Cancel
- PENDING - Pending</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="CustomerOrderStateName">
							<xs:annotation>
								<xs:documentation>The name of the retailer assigned CustomerOrder state.
- COPMLT = Complete
- PROCES = Processing
- CANCEL = Cancel
- PENDING - Pending</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="EffectiveDateTime">
							<xs:annotation>
								<xs:documentation>Date and Time a given CustomerOrderStateAssignment becomes effective.

This is used to facilitate a time lapsed view of customer order state changes.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:dateTime">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="ExpirationDateTime">
							<xs:annotation>
								<xs:documentation>Date and Time a given CustomerOrderStateAssignment expires.
This is used to facilitate a time lapsed view of customer order state changes.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:dateTime">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="arts:TypeControlAttributeGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="EffectiveDateTime">
				<xs:annotation>
					<xs:documentation>Date and Time a given CustomerOrderStateAssignment becomes effective.

This is used to facilitate a time lapsed view of customer order state changes.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:dateTime">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExpirationDateTime">
										<xs:annotation>
											<xs:documentation>Date and Time a given CustomerOrderStateAssignment expires.
This is used to facilitate a time lapsed view of customer order state changes.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:dateTime">
													<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
			<xs:element name="CustomerOrderLineItemStates">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Count"/>
						<xs:element name="CustomerOrderLineItemState" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A retailer defined state for an OrderLineItem.  Possible values include:
Pending, AwaitingDelivery, ReadyForPickup, ReadyForDispatch, Deleted, Replaced, etc.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CustomerOrderSequenceNumber">
										<xs:annotation>
											<xs:documentation>A unique system assigned identifier for the LineItem within the confines of the CustomerOrder.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:long">
													<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="OrderLineItemStateCode">
										<xs:annotation>
											<xs:documentation>A unique retailer assigned code denoting a potential state for a CustomerOrderLineItem.

Eg:- COPMLT = Complete
- PROCES = Processing
- CANCEL = Cancel
- PENDING - Pending</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="OrderLineItemStateName">
										<xs:annotation>
											<xs:documentation>A unique retailer assigned code denoting a potential state for a CustomerOrderLineItem.

Eg:- COPMLT = Complete
- PROCES = Processing
- CANCEL = Cancel
- PENDING - Pending</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="EffectiveDateTime">
										<xs:annotation>
											<xs:documentation>Date and Time a given CustomerOrderStateAssignment becomes effective.

This is used to facilitate a time lapsed view of customer order state changes.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:dateTime">
													<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="ExpirationDateTime">
										<xs:annotation>
											<xs:documentation>Date and Time a given CustomerOrderStateAssignment expires.
This is used to facilitate a time lapsed view of customer order state changes.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:dateTime">
													<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attributeGroup ref="arts:TypeControlAttributeGroup"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
	</xs:complexType>
</xs:schema>
