ibm-ib-mww-om-weborder/om-ordercreate-ecomm-synchronous-service-mww/source/doc-order-creation-hyb-arts-library/arts/Library/ARTS_TenderTypeV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Ron Matyjanka (FGL SPORTS LTD) -->
<!--
 * ER/Studio Data Architect XE3 %s XML Schema Generation
 * Company:		FGL Sports
 * Project:		FGL Corporate Data Warehouse
 * Author:		Warren Whale
 * Version:		1.0
 * Date Created:	2015-01-23
-->
<xs:schema xmlns:arts="http://www.fgl.com/ARTS" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.fgl.com/ARTS" elementFormDefault="qualified">
	<xs:include schemaLocation="AttributeGroupsV1_00_00.xsd"/>
	<xs:complexType name="ArtsTenderType">
		<xs:sequence>
			<xs:element name="Index"/>
			<xs:element name="TenderTypeCode">
				<xs:annotation>
					<xs:documentation>A code which uniquely identifies the type of tender, ie cash, check, credit card, etc.

Sample Values:

CASH         - currency
CREDIT    - credit card
DEBIT       - debit card
CUST_ACCT - customer credit account with retailer
EBT            - electronic benefits transfer
CHEQUE  - personal or business cheque
STORED_VALUE  - gift cert. or gift card
COUPON  - mfg coupon 
VOUCHER - retailer issued debit (e.g. coinstar voucher)
SEND_CHECK - paid out/refund via acct pay. 
TRADEIN - trade in kind/trade in debit
OTHER - other debit offset tender type</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TenderTypeDescriptionText">
				<xs:annotation>
					<xs:documentation>The name of the kind of tender</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CurrencyCode">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FastFindExtensions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestedAmount">
							<xs:annotation>
								<xs:documentation>Tender amount value</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:decimal">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="AccountNumber">
							<xs:annotation>
								<xs:documentation>Holds a tender type identifier</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="AdjudicationCode">
							<xs:annotation>
								<xs:documentation>Authorization value for the tender type</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="CardIssueSequenceNumber">
							<xs:annotation>
								<xs:documentation>The bank sequence associated with the tender</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="TenderAuthorizationTerminalId">
							<xs:annotation>
								<xs:documentation>Terminal identifier for the tender</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="CardExpirationDate">
							<xs:annotation>
								<xs:documentation>The credit card expiry date</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="HostText">
							<xs:annotation>
								<xs:documentation>Authorization message</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="AuthorizationDatetime">
							<xs:annotation>
								<xs:documentation>Authorization timestamp</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:dateTime">
										<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="arts:TypeControlAttributeGroup"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
	</xs:complexType>
</xs:schema>
