ibm-ib-mww-om-weborder/om-ordercreate-ecomm-synchronous-service-mww/source/doc-order-creation-hyb-arts-library/arts/Library/ARTS_BusinessUnitTypeV1_00_00.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Ron Matyjanka (FGL SPORTS LTD) -->
<!--
 * ER/Studio Data Architect XE3 %s XML Schema Generation
 * Company:		FGL Sports
 * Project:		FGL Corporate Data Warehouse
 * Author:		Warren Whale
 * Version:		1.0
 * Date Created:	2015-01-23
-->
<xs:schema xmlns:arts="http://www.fgl.com/ARTS" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fgl.com/ARTS" elementFormDefault="qualified">
	<xs:include schemaLocation="AttributeGroupsV1_00_00.xsd"/>
	<xs:include schemaLocation="ARTS_LocationTypeV1_00_00.xsd"/>
	<xs:include schemaLocation="ARTS_SiteTypeV1_00_00.xsd"/>
	<xs:include schemaLocation="ARTS_TimePeriodTypeV1_00_00.xsd"/>
	<xs:include schemaLocation="ARTS_RetailStoreTypeV1_01_00.xsd"/>
	<xs:include schemaLocation="ARTS_DistributionCentreTypeV1_00_00.xsd"/>
	<xs:include schemaLocation="ARTS_BusinessUnitGroupTypeV1_01_00.xsd"/>
	<xs:complexType name="ArtsBusinessUnit">
		<xs:sequence>
			<xs:element name="Index" type="xs:integer"/>
			<xs:element name="DataSource" type="arts:DataSource"/>
			<xs:element name="BusinessUnitId" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MDR surrogate key</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitNumber" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitTypeCode" nillable="true">
				<xs:annotation>
					<xs:documentation>A unique retailer assigned code denoting the applicable sub-type of BusinessUnit.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:element name="RetailStore" type="arts:ArtsRetailStoreType"/>
				<xs:element name="DistributionCentre" type="arts:ArtsDistributionCentre"/>
			</xs:choice>
			<xs:element name="BusinessUnitActiveFlag" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitName" nillable="true">
				<xs:annotation>
					<xs:documentation>The name of the BusinessUnit</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitShortName" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FrenchBusinessUnitName" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitLanguageCode" default="">
				<xs:annotation>
					<xs:documentation>The primary language code for buiness in the RetailStore</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitLanguageName">
				<xs:annotation>
					<xs:documentation>The primary language for business in the RetailStore</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitOpenedDate" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitClosedDate" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="OwnershipCode">
				<xs:annotation>
					<xs:documentation>The code to indicate the ownership of the BusinessUnit</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="OwnershipCodeName">
				<xs:annotation>
					<xs:documentation>The code description or name to indicate the ownership of the BusinessUnit</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationTypeName">
				<xs:annotation>
					<xs:documentation>An attribute that  assists in grouping business units by comnmon characteristics. At Mark's, the valid are:   Corporate, Contract Sales, Expense, Franchise, Region Office and Warehouse.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PlanningChannelName" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CurrencyCode">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitTimePeriods" type="arts:ArtsTimePeriodType"/>
			<xs:element name="BusinessUnitLocations">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Count"/>
						<xs:element name="BusinessUnitLocation" type="arts:ArtsLocation" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitSites">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Count" type="xs:long"/>
						<xs:element name="BusinessUnitSite" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Index"/>
									<xs:element name="EffectiveDateTime">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:dateTime">
													<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="ExpirationDateTime" nillable="true" minOccurs="0">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:dateTime">
													<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="BusinessUnitSiteStatusCode">
										<xs:annotation>
											<xs:documentation>Indicates current status e.g. Active, Inactive, Closed</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Site" type="arts:ArtsSiteType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnitGroups">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Count" type="xs:long"/>
						<xs:element name="BusinessUnitGroup" type="arts:ArtsBusinessUnitGroupType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="arts:TypeControlAttributeGroup"/>
	</xs:complexType>
</xs:schema>
