ibm-ib-mww-om-weborder/om-ordercreate-ecomm-synchronous-service-mww/source/doc-order-creation-hyb-arts-library/arts/Library/ARTS_RetailStoreTypeV1_01_00.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2014 rel. 2 (http://www.altova.com) by Navin Khanna (FGL SPORTS LTD) -->
<!--
 * ER/Studio Data Architect XE3 %s XML Schema Generation
 * Company:		FGL Sports
 * Project:		FGL Corporate Data Warehouse
 * Author:		Warren Whale
 * Version:		1.0
 * Date Created:	2015-01-23
-->
<xs:schema xmlns:arts="http://www.fgl.com/ARTS" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fgl.com/ARTS" elementFormDefault="qualified">
	<xs:include schemaLocation="AttributeGroupsV1_00_00.xsd"/>
	<xs:complexType name="ArtsRetailStoreType">
		<xs:sequence>
			<xs:element name="LastRetailSaleDate" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date of last retail sale at this store</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FastFindServiceFlag">
				<xs:annotation>
					<xs:documentation>Flag indicating that Fast Find service is available at this Restail Store. Does the location participate in fastfind or not ?</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ComparableStatusName">
				<xs:annotation>
					<xs:documentation>Operational Comp- Stores become comp (or comparable) when a selling location has been opened for greater than 56 weeks. This excludes stores with Store status of “New, Closed or Repatriated”. 
</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ComparableDate">
				<xs:annotation>
					<xs:documentation>The comp date for the store- The calendar date when a store becomes comparable for same - store analysis, 13 months after a non-comp event.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="RetailStoreManagerName">
				<xs:annotation>
					<xs:documentation>Name of the Store Manager</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="RetailStoreStatus">
				<xs:annotation>
					<xs:documentation>Store status e.g. Renovations, Temporarily Closed</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="RetailSquareFootage">
				<xs:annotation>
					<xs:documentation>Area for retail operations</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TotalSquareFootage">
				<xs:annotation>
					<xs:documentation>Area for all store operations</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PrimaryDistributionCentreNumber">
				<xs:annotation>
					<xs:documentation>The primary DC used for replenishment</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PrimaryDistributionCentreName">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="arts:ElementControlAttributeGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="arts:TypeControlAttributeGroup"/>
	</xs:complexType>
</xs:schema>
