ibm-ib-git-fpos-transaction/aw-salestransactions-event-subscriber-fgl/source/trx-sales-aw-inbound-library-fgl/trx.sales.aw/Library/XPOLLD_EmailDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by FGL SPORTS LTD (FGL SPORTS LTD) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:complexType name="EmailDetail">
    	<xs:sequence>
    		<xs:element name="RecordType" type="xs:string" fixed="C" nillable="false"/>
			<xs:element name="LineId" type="xs:integer" nillable="false"/>
			<xs:element name="CustomerRole" type="xs:string" nillable="true" minOccurs="0"/>
    		<xs:element name="CustomerInfoType" type="xs:string" minOccurs="0"></xs:element>
    		<xs:element name="CustomerInfo" type="xs:string" minOccurs="0"></xs:element>
    	</xs:sequence>
    </xs:complexType>
</xs:schema>