ibm-ib-git-fpos-transaction/aw-salestransactions-event-subscriber-fgl/source/trx-sales-aw-inbound-library-fgl/trx.sales.aw/Library/XPOLLD_AuthorizationDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by FGL SPORTS LTD (FGL SPORTS LTD) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="AuthorizationDetail">
		<xs:sequence>
			<xs:element name="RecordType" type="xs:string" fixed="A" nillable="false"/>
			<xs:element name="LineId" type="xs:integer" nillable="false"/>
			<xs:element name="AuthorizationNbr" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="ExpiryDateFromPos" type="xs:string" minOccurs="0"/>
			<xs:element name="SwipeIndicator" type="xs:string" minOccurs="0"/>
			<xs:element name="ApprovalMessage" type="xs:string" minOccurs="0"/>
			<xs:element name="LicenseNbr" type="xs:string" minOccurs="0"/>
			<xs:element name="OtherIdType" type="xs:integer" minOccurs="0"/>
			<xs:element name="OtherId" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomerSignatureObtained" type="xs:string" minOccurs="0"/>
			<xs:element name="CardType" type="xs:string" minOccurs="0"/>
			<xs:element name="DeferredBillingDate" type="xs:string" minOccurs="0"/>
			<xs:element name="DeferredBillingPlan" type="xs:integer" minOccurs="0"/>
			<xs:element name="PosStateCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
